<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- tag for IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body style="background-color: purple;">

<div class= "title">
  <h1><strong>Welcome to Cloud Clothing!</strong></h1>
  <h2>We are the Uber of Cloth renting.</h2>
  <h2>Why buy when you can rent the latest fashion and have a endless wardrobe</h2>
</div>
  
<div class="middle">
  <a href="/campaigns/new" button type="button" class="btn btn-primary btn-lg btn-block">Stay u!</a></button>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

